# Data Science Tools and Ecosystem

In this notebook, I will applied what I learned about Jupyter through Data Scince Tools course

**Objectives:**
* List some of the popular languages that Data Scientists use
* List commonly libraries used by Data Scientists
* List some Data scince's tools
* Solve some mathmatic Examples by using Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. TensorFlow
4. SciPy
5. Scikit-learn

| Data Science Tools | 
|:------|
|RStudio  |
|Apache Spark|
|Apache Hadoop|

### Solve arithmetic expressions examples in Python

In [1]:
#Example for mutiply then add integers
(3*4)+5

17

In [3]:
#Example for convert 200 minutes to hours :
200/60

3.3333333333333335

## Author:
Futun Althobaiti